html {
  font-family: Open-Sans, serif;
}

.masthead {
  background-color: #001d29;
  color: #fff;
  font-family: "Coming Soon", cursive;
}

.nav {
  position: relative;
  background-color: #2578bd;
  z-index: 2;
}

.nav a {
  color: #fff;
  background-color: #2578bd;
  text-decoration: none;
}

.nav a:hover {
  background-color: #fff;
  color: #2578bd;
}

nav .selection {
  background-color: #fff;
  color: #2578bd;
  border: solid 2px #2578bd;
  border-radius: 5px;
}

.btn {
  font-family: "Coming Soon", cursive;
  background-color: #2578bd;
  border-color: #2578bd;
  color: #fff;
  transition: all 250ms ease;
  border-radius: 5px;
}

.btn:active {
  top: 1.5em;
  transform: translate(0, .25em);
}

.btn:hover,
.btn:focus {
  background-color: #001d29;
  color: #fff;
  border-color: #001d29;
  transition: all 250ms ease;
}

.btn-ghost {
  transition: all 250ms ease;
}

.btn-ghost:hover {
  transform: translate(0, -.5em);
  border-color: #2578bd;
}

.texture {
  text-decoration: underline;
  color: #2578bd;
}

.footer {
  font-family: "Coming Soon", cursive;
  background-color: #001d29;
  color: #fff;
}
